﻿@model TrainForTheRoleAspNetCore.Mvc.ViewModels.Tickets.IndexViewModel

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<form asp-controller="Tickets" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input name="q" value="@Model.Paged.Keyword" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
            <a asp-action="Create" class="btn btn-outline-secondary">New</a>
        </div>
    </div>
</form>

@if (Model.Paged.RowCount > 0)
{
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.Paged.Results)
            {
                var status = "Pending";
                @switch (ticket.Status)
                {
                    case Api.TicketStatus._0:
                        status = "Pending";
                        break;
                    case Api.TicketStatus._1:
                        status = "In Progress";
                        break;
                    case Api.TicketStatus._2:
                        status = "closed";
                        break;
                }

                <tr>
                    <td>@ticket.Title</td>
                    <td>@status</td>
                    <td>
                        <a asp-controller="Tickets" asp-action="Update" asp-route-id="@ticket.Id">Update</a>
                        <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Paged.PageCount > 1)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.Paged.CurrentPage != 0)
                        {
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                }

                    @for (int i = 1; i > Model.Paged.PageCount; i++)
                {
                    <li class="page-item"><a class="page-link" href="#">@i</a></li>
                }

                @if (Model.Paged.CurrentPage >= Model.Paged.PageCount)
                {
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                }
            </ul>
        </nav>
    }
}