﻿@model TrainForTheRoleAspNetCore.Mvc.ViewModels.Tickets.UpdateViewModel

@{
    ViewData["Title"] = "Update Ticket";
}

<form asp-controller="Tickets" asp-action="Create" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title here">
        <span asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <select asp-for="Status" class="custom-select custom-select-lg mb-3">
            <option value="">Select Status</option>
            <option value="0">Pending</option>
            <option value="1">In Progress</option>
            <option value="2">Closed</option>
        </select>
        <span asp-validation-for="Status"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>